.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.logo-black-part {
    width: 56px;
    height: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #121221;
    border-radius: 4px;
}

.logo-name-black-part {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #F8F8F8;    
}

.logo-white-part {
    width: 56px;
    height: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo-name-white-part {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.search-params {
    padding: 5px 10px;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    color: #121221bb;
    background: #8cc3dd85;
    margin-right: 15px;
}

.search-and-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.open-search {
    background: none;
    margin-right: 22px;
}

.open-menu {
    width: 32px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: none;
}

.menu-icon {
    width: 22px;
    height: 2px;
    background: #000000;
    border-radius: 1px;
}

@media (max-width: 385px) {

    .logo-black-part,
    .logo-white-part {
        width: 36px;
        height: 22px;
    }

    .logo-name-black-part,
    .logo-name-white-part,
    .search-params {
        font-size: 12px;
        line-height: 15px;    
    }

    .open-search {
        margin-right: 5px;
    }

    .open-menu {
        height: 18px;
    }

    .menu-icon {
        width: 18px;
    }
}