.hot-news {
  width: 100%;
  height: calc( width * 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 24px;
}

.view-hot-news-photo-block {
  width: 870px;
  height: calc( width * 0.6);
  border-radius: 8px;
  overflow: hidden;
  background: #444444;
}

.view-hot-news-photo {
  width: 100%;
  height: 100%;
}

.description-block {
  max-width: 543px;
  margin-left: 32px;
  margin-top: -200px;
}

.description {
  width: 100%;
  height: 144px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  color: #ffffff;
  overflow: hidden;
}

.source-and-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 19px;
}

.time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #F8F8F8;
}

.source {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #F8F8F8;
  margin-left: 27px;
}

.article {
  width: 270px;
  max-height: 400px;
  margin-left: 30px;
  overflow: hidden;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #444444;
}

.indention {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 64px;
  color: #444444;
}

@media (max-width: 1440px) {
  .description {
    font-size: 29px;
    line-height: 110%;
    width: 90%;
  }
}

@media (max-width: 862px) {
  .article {
    font-size: 16px;
    line-height: 25px;
  }
  .indention {
    font-size: 30px;
    line-height: 50px;
  }
  .description-block {
    margin-top: -150px;
  }
  .description {
    font-size: 25px;
    line-height: 100%;
    width: 90%;
    height: 80%;
  }
}

@media (max-width: 650px) {
  .description-block {
    margin-top: -100px;
  }
  .description {
    font-size: 18px;
    line-height: 90%;
    width: 98%;
    height: 80%;
  }
  .article {
    font-size: 14px;
    line-height: 20px;
    margin-left: 15px;
  }
  .indention {
    font-size: 25px;
    line-height: 35px;
  }
  .source-and-time {
    margin-top: 12px;
  }
}

@media (max-width: 500px) {
  .description-block {
    margin-top: -75px;
  }
  .description {
    font-size: 12px;
  }
  .article {
    font-size: 12px;
    line-height: 20px;
  }
  .indention {
    font-size: 20px;
    line-height: 40px;
  }
}

@media (max-width: 385px) {
  .hot-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .view-hot-news-photo-block {
    width: 100%;
  }
  .article {
    width: 100%;
  }
}
/*# sourceMappingURL=hotNews.css.map */